/* fonts */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* var */
:root {
    --primary-color: hsl(323, 94%, 39%);
    --secondary-color: hsl(298, 59%, 25%);
    --txt-color :  	 	hsl(0, 0%, 29%);
    --alt-txt:  hsl(0, 0%, 100%);
    --alert-txt: hsl(358, 74%, 51%);
    --main-bg: hsl(0, 0%, 100%);
    --bg-1: hsl(330, 17%, 98%);
    --bg-2: hsl(252, 24%, 96%);
    --bg-3: hsl(16, 52%, 94%);
    --bg-4: hsl(35, 51%, 93%);
    --bg-5: hsl(240, 40%, 96%);
    --bg-6: hsl(321, 50%, 65%);
    --bg-7: hsl(316, 22%, 90%);
    --fonts-stack-base: "Montserrat", Arial, Helvetica, sans-serif;
}

/* utilities */
/* sr-only by ffoodd : https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034 */
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
		clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}

.skip-to-content {
    background: var(--main-bg);
    z-index:30;
}

/* general */
html, body {
    font-family: var(--fonts-stack-base);
    height: 100%;
    margin:0;
    padding:0;
}

img {
    height:auto;
    width: 100%;
}


/* typo */
.h1 {
    color: var(--primary-color);
}

.h2 {
    color: var(--secondary-color);
}


/* main header */
.main-header {
    align-items:center;
    background-color: var(--main-bg);
    display:flex;
    gap: 16px;
    justify-content: end;
    padding:4px 8px;
    position: sticky;
    top:0;
}

.logo {
    margin:0 auto 0 0;
}

.logo a {
    display: block;
}

.account a {
    color:  var(--primary-color);
    font-weight: bold;
    text-decoration: none;
}

.account a:before {
    background: url('../images/picto-monespace.png') center center no-repeat;
    content: "";
    display: inline-block;
    height: 34px;
    margin-right:8px;
    vertical-align: middle;
    width:34px;
}

.account a span {
    display:none;
}

/* main menu */
.main-nav {
    order:1;
}

.menu {
    align-items: center;
    background-color: var(--bg-1);
    box-shadow: -3px 0 5px  var(--bg-5);
    display:flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    left:0;
    list-style-type: none;
    margin:0;
    padding:1px 0 0 0;
    position: fixed;
    right:0;
    top:0;
    transform: translateX(105%);
    transition: all .45s;
    z-index:10;
}

.menu li {
    line-height: 1.4;
}

.menu a {
    color: var(--secondary-color);
    font-weight: bold;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

.menu-label {
    cursor: pointer;
    display: block;
    font-size:0.8rem;
    overflow: auto;
    position: relative;
    z-index: 20;
}

.burger:before, .burger:after {
    border-bottom: 4px solid var(--secondary-color);
    border-radius: 4px;
    content: "";
    display: block;
    transition: all .275s;
}

.burger:before {    
    margin: 4px 0 8px 0;
}

.burger:after {
    float:right;
    width:50%;
}

.menu-checkbox:checked + .menu {
    transform: translateX(0);
}

@supports selector(:has(*)) {
    .main-nav:has(.menu-checkbox:checked) .burger:before {
        transform: translateY(0) skew(25deg) rotate(145deg);
    }

    .main-nav:has(.menu-checkbox:checked) .burger:after {
        float:none;
        transform: translateY(-11px) translateX(1px) skew(-22deg) rotate(35deg);
        width: auto;
    }
}

/* main */
