/* fonts */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.woff2') format('woff2'),
        url('../fonts/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* var */
:root {
    --primary-color: hsl(323, 94%, 39%);
    --secondary-color: hsl(298, 59%, 25%);
    --txt-color :  	 	hsl(0, 0%, 29%);
    --alt-txt:  hsl(0, 0%, 100%);
    --alert-txt: hsl(358, 74%, 51%);
    --main-bg: hsl(0, 0%, 100%);
    --bg-1: hsl(330, 17%, 98%);
    --bg-2: hsl(252, 24%, 96%);
    --bg-3: hsl(16, 52%, 94%);
    --bg-4: hsl(35, 51%, 93%);
    --bg-5: hsl(240, 40%, 96%);
    --bg-6: hsl(321, 50%, 65%);
    --bg-7: hsl(316, 22%, 90%);
    --shadow: hsl(0, 0%, 75%);
    --fonts-stack-base: "Montserrat", Arial, Helvetica, sans-serif;
}

/* utilities */
/* sr-only by ffoodd : https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034 */
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
		clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}

.skip-to-content {
    background: var(--main-bg);
    z-index:30;
}

/* general */
html, body {
    color: var(--txt-color);
    font-family: var(--fonts-stack-base);
    height: 100%;
    margin:0;
    padding:0;
}

img {
    height:auto;
    width: 100%;
}

.tac {
    text-align:center;
}


/* typo */
.h1 {
    color: var(--primary-color);
}

.h2 {
    color: var(--secondary-color);
}

.h3 {
    color: var(--primary-color);
}

/* btn */
.primary-btn {
    background-color: var(--primary-color);
    border:0;
    border-radius:40px;
    color: var(--alt-txt);
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    padding: 16px 32px;
    text-align: center;
    text-decoration:none;
}

.primary-btn:hover {
    background-color: var(--secondary-color);
}


/* main header */
.main-header {
    align-items:center;
    background-color: var(--main-bg);
    display:flex;
    gap: 16px;
    justify-content: end;
    padding:4px 8px;
    position: sticky;
    top:0;
}

.logo {
    margin:0 auto 0 0;
}

.logo a {
    display: block;
}

.account a {
    color:  var(--primary-color);
    font-weight: bold;
    text-decoration: none;
}

.account a:before {
    background: url('../images/picto-monespace.png') center center no-repeat;
    content: "";
    display: inline-block;
    height: 34px;
    margin-right:8px;
    vertical-align: middle;
    width:34px;
}

.account a span {
    display:none;
}

/* main menu */
.main-nav {
    order:1;
}

.menu {
    align-items: center;
    background-color: var(--bg-1);
    box-shadow: -3px 0 5px  var(--bg-5);
    display:flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    left:0;
    list-style-type: none;
    margin:0;
    padding:1px 0 0 0;
    position: fixed;
    right:0;
    top:0;
    transform: translateX(105%);
    transition: all .45s;
    z-index:10;
}

.menu li {
    line-height: 1.4;
}

.menu a {
    color: var(--secondary-color);
    font-weight: bold;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

.menu-label {
    cursor: pointer;
    display: block;
    font-size:0.8rem;
    overflow: auto;
    position: relative;
    z-index: 20;
}

.burger:before, .burger:after {
    border-bottom: 4px solid var(--secondary-color);
    border-radius: 4px;
    content: "";
    display: block;
    transition: all .275s;
}

.burger:before {    
    margin: 4px 0 8px 0;
}

.burger:after {
    float:right;
    width:50%;
}

.menu-checkbox:checked + .menu {
    transform: translateX(0);
}

@supports selector(:has(*)) {
    .main-nav:has(.menu-checkbox:checked) .burger:before {
        transform: translateY(0) skew(25deg) rotate(145deg);
    }

    .main-nav:has(.menu-checkbox:checked) .burger:after {
        float:none;
        transform: translateY(-11px) translateX(1px) skew(-22deg) rotate(35deg);
        width: auto;
    }
}

/* products */
.main-title {
    font-weight: 900;
    margin:16px 32px;
}

.products-wrapper {
    background-color: var(--bg-1);
    border-radius:20px;
    box-shadow: 0 0 4px var(--shadow);
    margin:48px 16px 32px 16px;
    padding:16px 8px;
}

.title-products {
    font-weight: 400;
    margin:0 0 16px 0;
    text-align: center;
    text-transform: uppercase;
}

.false-tabs {
    display: flex;
    flex-wrap: wrap;
    gap:4px;
    justify-content: space-evenly;
    list-style-type: none;
    margin:0;
    padding:0;
    text-align: center;
}

.btn-tab {
    background: var(--bg-7);
    border-radius: 20px;
    cursor: pointer;
    display: block;
    flex-grow: 1;
    font-size: clamp(0.625rem, 0.5341rem + 0.4545vw, 0.875rem);
    font-weight: 600;
    padding: 12px;
}

.btn-tab-active, .btn-tab:hover {
    background-color: var(--bg-6);
    color: var(--alt-txt);
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    list-style-type: none;
    margin:24px auto 0 auto;
    padding:0;
}

.product {
    background-color: var(--bg-2);
    border-radius: 20px;
    height: 130px;
    max-width: 130px;
    width:100%;
}

.product a {
    color: var(--primary-color);
    display: grid;
    font-size: 0.9rem;
    font-weight: 600;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    height: 100%;
    justify-items: center;
    margin: auto;
    text-align: center;
    text-decoration: none;
}

.product a:before {
    align-self: center;
    content: "";
    display: block;
    height: 60px;
    width:60px;
}

.icon-heart:before {
    background: url(../images/picto-heart.png) center center no-repeat;
}

.icon-umbrella:before {
    background: url(../images/picto-umbrella.png) center center no-repeat;
}

.icon-piggy:before {
    background: url(../images/picto-piggy.png) center center no-repeat;
}

.icon-money:before {
    background: url(../images/picto-money.png) center center no-repeat;
}

.products-more {
    background-color: var(--bg-3);
    border-radius: 20px;
    margin:12px 0 0 0;
    padding:16px;
}

.products-more a {
    align-items: center;
    color: var(--alert-txt);
    display: grid;
    gap:16px;
    grid-template-columns: minmax(32px, auto) 1fr;
    grid-template-rows: 1fr;
    font-size:0.9rem;
    font-weight: 600;
    text-decoration: none;
}

.icon-plus {
    background: var(--main-bg) url(../images/picto-plus.png) center center no-repeat;
    border-radius: 50%;
    display: inline-block;
    height: 32px;
    overflow: hidden;
    text-indent: -4875px;
    vertical-align: middle;
    width: 32px;
}

/* offers */
.title-offers {
    margin:16px 32px;
}

.offers {
    list-style-type: none;
    margin: 0;
    padding: 0 16px;
    text-align: center;
}

.offer {
    background-color: var(--main-bg);
    border-radius:20px;
    box-shadow: 0 0 4px var(--shadow);
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45px 1fr 100px;
    margin:48px 6px 32px 6px;
    max-width: 325px;
    min-height: 375px;
    padding:0;
    width:100%;
}

.offer-head {
    background-color: var(--bg-4);
    border-radius: 20px 20px 0 0;
    font-weight: 600;
    margin:0;
    padding: 12px 8px;
    text-align:center;
    text-transform: uppercase;
}

.offer-txt {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 8px 16px;
    padding: 12px 8px;
}

.offer-txt strong {
    color: var(--primary-color);
    font-weight: 600;
    text-transform: uppercase;
}

/* false footer */
.false-footer {
    background-color: var(--bg-5);
}

.false-footer .h3 {
    text-transform: uppercase;
}

.false-footer-txt {
    padding:32px;
}

.false-footer p {
    font-size:0.8rem;
}

/* responsive */
@media screen and (min-width:420px) {
    .product {
        height: 135px;
        max-width: 135px;
    }
}

@media screen and (min-width:625px) {
    .products-wrapper {
        margin-left:auto;
        margin-right: auto;
        max-width: 576px;
    }
}

@media screen and (min-width:768px) {
    .sm-only {
        display: none;
    }

    .main-header {
        box-shadow: 0 5px 5px var(--shadow);
        justify-content:space-between;
    }

    .logo {
        margin: 0;
      }

    .main-nav {
        order: 0;
    }

    .menu-label, .menu-checkbox {
        display:none;
    }

    .menu {
        align-self: flex-start;
        background-color: transparent;
        box-shadow: none;
        flex-direction: row;
        gap:32px;
        height: auto;
        margin: 0;
        position: static;
        transform: none;
    }

    .account {
        border:1px solid var(--shadow);
        border-radius: 20px;
        padding: 4px;
    }
    
    .account a span {
        display:inline-block;
    }

    #main {
        background: url(../images/bg-desk.jpg) top left no-repeat;
        background-size: 390px auto;
        padding-top:1px;
    }

    .main-title {
        color: var(--txt-color);
        font-size:1.6rem;
        font-weight:300;
        margin:56px 32px 128px 55%;
    }

    .main-title strong {
        color: var(--primary-color);
        font-weight:600;
        text-transform:uppercase;
    }

    .products-wrapper {
        align-items: center;
        display:grid;
        grid-template-columns: 22% 1fr 22%;
        grid-template-rows: 1fr;
        max-width:90%;
        padding:0;
    }

    .heading-products {
        padding: 16px 8px;
    }

    .title-products {
        font-size:1.1rem;
        text-align: left;
        text-transform: none;
    }

    .title-products strong {
        text-transform: uppercase;
    }

    .products {
        gap: 2px;
        margin: 0 auto;
    }

    .product {
        background-color: transparent;
        height: 95px;
        max-width: 95px;
    }

    .icon-heart:before {
        background: url(../images/picto-heart-2.png) center center no-repeat;
    }
    
    .icon-umbrella:before {
        background: url(../images/picto-umbrella-2.png) center center no-repeat;
    }
    
    .icon-piggy:before {
        background: url(../images/picto-piggy-2.png) center center no-repeat;
    }
    
    .icon-money:before {
        background: url(../images/picto-money-2.png) center center no-repeat;
    }

    .products-more {
        align-self: stretch;
        display: flex;
        margin:0;
    }

    .products-more a {
        align-items:flex-start;
        display: flex;
        flex-direction: column;
        gap:8px;
        margin: auto;
    }

    .products-more a {
        text-transform: uppercase;
    }

    .false-footer {
        display: flex;
        padding:32px 0;
    }
}